

%div{class:"main-content clearfix"}
  %div{class:"nav-bar"}
    %div{class:"nav-bar__title"}SEO
    %div{class:"nav-bar__content"}
      %div{class:"navbar__content--title"}Sample
      %div{class:"navbar__content--content"}Good bye world

  %div{class:"content"}
    %div{class:"content__team-name"}Sampleグループ
    %div{class:"content__team-member"}Members: seo neko
    <hr>
    %div{class:"content__team-post1__name"} <b>seo</b> 2016/9/21
    %div{class:"content__team-post1__content"}はじめまして
    %div{class:"content__team-post2__name"} <b>seo</b> 2016/9/21
    %div{class:"content__team-post2__content"}よろしくおねがいします。
